@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <h1>The Best Trios</h1>
            <img src="~/img/wolfmother.jpeg" alt="Wolfmother" width="350"/>
            <p>This page is dedicated to some of the three-person bands in the world. 
                Based on my own professional music experience, it is difficult to throw down
                that kind of sound with only three individuals playing.</p>
        </div>
        <dv class="col-lg-8 col-xs-6">
            <ul>
                <li><h4>The Beastie Boys</h4><p>Hip-Hop Legends</p></li>
                <li><h4>ZZ Top</h4><p>Those Beards!</p></li>
                <li><h4>Cream</h4><p>Eric, Jack, and Ginger</p></li>
                <li><h4>Woldmother</h4><p>Will make your ears bleed!</p></li>
                <li><h4>Rush</h4><p>Seriously. Three dudes making that sound!</p></li>
                <li><h4>The Jimi Hendrix Experience</h4><p>Hendrix? Need I say more?</p></li>
                <li><h4>Primus</h4><p>Les</p></li>
                <li><h4>The Stray Cats</h4><p>Gonna rock this town!</p></li>
                <li><h4>Los Lonely Boys</h4><p>Tres hermanos</p></li>
            </ul>
        </dv>
    </div>
    
    <h3>Other notable trios...</h3>
    <div class="row">
        <div class="col">
            <img src="~/img/wolfmother.jpeg"alt="img1" width="300"/>
        </div>
        <div class="col">
            <img src="~/img/wolfmother.jpeg" alt="img2" width="300"/>
        </div>
        <div class="col">
            <img src="~/img/wolfmother.jpeg" alt="img3" width="300"/>
        </div>
    </div>
</div>